
#megaCarg{
    padding: auto;
    
    background-color: white;
}
#sup{
    padding: 0;
    margin-top: 0 ;
    width: 100%;
    height: 200px;
    background-color: white;
}
#largeDiv{
    padding: 0;
    margin-top: 40px ;
    border-left: 3px solid greenyellow;
    border-right: 3px solid greenyellow;
    margin-left: 3px solid greenyellow;
    width: 40%;
    height: 740px;
    background-color:  white;
    float: right;
}
#fatdiv1{
    padding: 0;
    margin-top: 40px ;
    width: 60%;
    height: 370px;
    background-color: white;
}
#fatDiv{
    padding: 0;
    margin-top: 0px ;
    width: 60%;
    height: 370px;
    background-color: white;
}
.goodDiv{
    float: left;
    border: 1px solid black;
    padding: 0;
    width: 48%;
    height: 370px;
    background-color:white;
    font-size: medium;
}
.goodDiv1{
    float: left;
    border: 1px solid black;
    padding: 0;
    margin-left: 15px;
    width: 48%;
    height: 370px;
    background-color:white;
    font-size: medium   ;
}
.linkMalo{
    float: left;
    margin-left: 160px;
}
.ImgMalo{
    float: left;
    margin-left: 90px;
}





